.about {
  grid-column: 2 / 8;
  margin: 18rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $bp-large) {
    margin: 22rem 0;
    margin-right: 14rem;
    margin-bottom: 10rem;
  }

  @media (max-width: $bp-medium) {
    grid-column: 2 / 6;
  }

  &__section {
    font-size: 1.4rem;
    letter-spacing: 4.9px;
    color: #9b9b9b;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--u {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &__header {
    font-size: 3.2rem;
    margin: 0 5rem;
  }

  &__text {
    margin: 2rem 5rem;
    line-height: 2;
    letter-spacing: 0.8px;
    color: #9b9b9b;
  }

  &__image {
    margin-top: 2rem;
    background: pink;
    width: 65rem;
    height: 30rem;
    margin-bottom: 5rem;

    @media (max-width: $bp-large) {
      width: 60vw;
    }

    @media (max-width: $bp-medium) {
      width: 64vw;
    }
  }
}