// COLOR VARIABLES
$color-primary: #ff7200;
$color-primary-dark: #c5600d;

$color-secondary: #053b58;

$color-grey-light-1: #9b9b9b;
$color-grey-light-2: #526173;

$color-dark: #000000;

// FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;
$font-display: Georgia, serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-grey-light-2;
    font-weight: 300;
    line-height: 1.6;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(25rem, 1fr) repeat(6, 1fr) minmax(25rem, 1fr);
    grid-template-rows: 3rem 10rem 60rem 70rem 40vw 70rem 50rem;
}

h2 {
    font-size: 5.2rem;
    font-family: $font-display;
    letter-spacing: 2px;
    color: #000000;
}

h3 {
    font-size: 4.8rem;
    font-family: $font-display;
    letter-spacing: 2px;
    color: #000000;
}

h4 {
    font-size: 1.6rem;
    font-family: $font-display;
    letter-spacing: 2px;
    color: #000000;
}

span {
    font-size: 1.4rem;
    font-family: $font-display;
    letter-spacing: 0.6px;
    color: #000000;
}