.discover {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 2fr 3fr;

  &__info {
    padding: 6rem 10rem;

    &__intro {
      font-size: 1.2rem;
      letter-spacing: 4.9px;
      color: #9b9b9b;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
    }

    &__header {
      font-size: 2.5rem;
    }
  }

  &__detail {
    background: tan;
  }

  &-room {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__image {
      width: 8rem;
      height: 6rem;
      background: pink;
      margin-right: 1rem;
    }

    &__info {
      p {
        color:#b5b5b5;
      }

      span {
        color: black;
      }
    }
  }
}