.hero {
  background: palegoldenrod;
  padding: 1rem;
  grid-column: 1 / -1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(67, 67, 67, 0.2));
  position: relative;

  &-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__welcome {
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 4.9px;
      color: #ffffff;
      text-transform: uppercase;

      @media (max-width: $bp-small) {
        font-size: 1.2rem;
      }
    }

    &__subject {
      font-size: 5.2rem;
      letter-spacing: 3.1px;
      font-family: $font-display;
      margin: 2rem 0;
      color: #ffffff;

      @media (max-width: $bp-small) {
        font-size: 4.5rem;
      }
    }

    &__tagline {
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.8px;
      color: #ffffff;

      @media (max-width: $bp-small) {
        font-size: 1.2rem;
      }
    }

    &__icon {
      background: #ffffff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-top: 4rem;
      display: flex;
      justify-content: center;
    }
  }
}

.check-in {
  position: absolute;
  left: 50%;
  top: 87%;
  transform: translateX(-50%);
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(67, 67, 67, 0.2);
  width: 60vw;

  h3 {
    @media (max-width: $bp-small) {
      font-size: 2rem;
    }
  }

  span {
    @media (max-width: $bp-small) {
      font-size: 1.2rem;
    }
  }

  @media (max-width: $bp-largest) {
    width: 70vw;
  }

  @media (max-width: $bp-large) {
    width: 60vw;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $bp-medium) {
    width: 80vw;
  }

  &__wrapper {
    display: flex;
    padding: 3.2rem;
  }

  &__promo {
    background: $color-secondary;
    color: #fff;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $bp-large) {
      width: 100%;
      align-items: center;
    }

    p {
      font-size: 1rem;
    }

    button {
      all: unset;
      color: #fff;
      background: $color-primary;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 1rem;
      width: 12rem;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        background: $color-primary-dark;
      }
    }
  }

  &__container {
    margin-right: 4rem;
  }

  &__header {
    color: $color-grey-light-1;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

}