.navbar {
  grid-column: 1 / -1;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
  width: 90rem;

  @media (max-width: $bp-large) {
    width: 70rem;
  }

  @media (max-width: $bp-medium) {
    width: 50rem;
  }

  @media (max-width: $bp-small) {
    width: 30rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media (max-width: $bp-small) {
      flex-wrap: wrap;

      p {
        order: -1;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $color-grey-light-2;

    &:hover {
      border-bottom: 1px solid $color-grey-light-2;
    }
  }
}