.top-bar {
  padding: 1rem 0;
  width: 90rem;
  grid-column: 1 / -1;
  justify-self: center;
  border-bottom: 1px solid $color-grey-light-1;

  @media (max-width: $bp-large) {
    width: 70rem;
  }

  @media (max-width: $bp-medium) {
    width: 50rem;
  }

  display: flex;
  justify-content: space-between;

  p {
    font-weight: normal;
    font-style: 1.1rem;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: justify;
  }
}